.App {
  text-align: center;
  font-family: 'Noto Serif SC', serif;
  font-family: 'Roboto', sans-serif;
  // background-color: hsl(0, 0%, 100%);
  // background: rgb(251,181,63);
  // background: radial-gradient(circle, rgba(251,181,63,0.9486388305322129) 0%, rgba(252,70,107,1) 100%);
  background: rgb(238,254,240);
  background: linear-gradient(111deg, rgba(238,254,240,0.9234287464985994) 0%, rgba(203,113,205,0.9122242647058824) 50%, rgba(227,191,192,0.8421962535014006) 98%);
}

.bg-header {
  background: rgb(167,134,236);
  background: linear-gradient(90deg, rgba(167,134,236,0.9234287464985994) 0%, rgba(10,10,10,1) 44%, rgba(40,36,42,1) 62%, rgba(222,129,215,0.8421962535014006) 98%);
}

.bg-service {
  background-color: hsla(160, 14%, 87%, 0.3);
}

.header-btn {
  color: rgb(233, 227, 227) !important;
  box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.header-btn:hover {
  box-shadow: inset 200px 0 0 0 #f6f6f6;
  color: rgb(59, 59, 59) !important;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  border-radius: 25px;
}

.wechat:hover {
  opacity: 50%;
}

.service-header {
  font-size: x-large;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 2px 2px #afc7dd;
}

.service-text {
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 1px 1px #6413c0;
  margin: 0 5px 5px 5px;
}

.service-con {
  width: 100%;
}

.section1-text {
  margin-bottom: 3rem;
  height: 10rem;
  margin-top: 3rem;
}

.mySwiper {
  width: 100%
}

.swiperImg {
  object-fit:fill;
  width: auto;
  height: 45rem;
}

.swiper-button-prev::after {
  color: white;
}

.swiper-button-next::after {
  color: white;
}

@media only screen and (max-width: 600px) {
  .section1 {
    flex-direction: column;
  } 

  .service-con {
    width: 100%;
    flex-wrap: wrap;
  }

  .section1-slider {
    width: 100% !important;
  }
  .section1-text {
    width: 90% !important;
    margin-bottom: 3rem;
    height: 10rem;
    margin-top: 3rem;
  }

  .swiperImg {
    object-fit: cover;
    width: auto;
    height: 35rem;
  }

  .about {
    flex-direction: column;
  }
}

@import '~bootstrap/scss/bootstrap';
