.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: hsl(0, 0%, 0%);
}

.bg-purple {
  background-color: #df1c1c;
}

.bg-service {
  background-color: hsla(156, 6%, 83%, 0.9);
}

.header-btn {
  color: rgb(13, 12, 12) !important;
  box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.header-btn:hover {
  box-shadow: inset 200px 0 0 0 #2f2f2f;
  color: white !important;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  border-radius: 25px;
}

.swiperImg {
  object-fit: contain;
  width: auto;
  height: 40rem;
}

.service-header {
  font-size: x-large;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  text-shadow: 2px 2px #afc7dd;
}

@media only screen and (max-width: 600px) {
  .section1 {
    flex-direction: column;
  } 

  .section1-slider {
    width: 100% !important;
  }
  .section1-text {
    width: 90% !important;
    margin-bottom: 5rem;

    margin-top: 2rem;
    // padding-bottom: 4rem;
  }
}

@import '~bootstrap/scss/bootstrap';
